<div li-section="bar-info-items" class="section_info"><div style="background-color: {{section.settings.background-color}}" class="background-color is-black"><div li-content-for-blocks="Info Item" class="info_list">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'info-item' %}
            <div li-block="Info Item" data-wf--block-info-item--variant="base" class="info_item">
                    <img src="{{ block.settings.image_icon | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.image_icon.alt }}" class="icon-1x1-small">

                    
                    <div>
{{ block.settings.text_label }}
</div>

                    
                </div>
        {% endcase %}
{% endfor %}

</div>

</div><div class="hide w-embed"></div>
</div>
